#products {
    padding: 2rem;
}
.product-item {
    border: 1px solid #ccc;
    margin: 1rem;
    padding: 1rem;
    display: inline-block;
    width: calc(33%  - 2rem);
    box-sizing: border-box;
}

#products h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.product-item h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5;
}
.product-item p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.5;
}
.product-item img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 900px) {
    .product-item {
        width: calc(50% - 2rem);
    }
}

@media (max-width: 600px) {
    .product-item {
        width: 100%;
    }
}