.mini-header {
    background-color: var(--cor-de-fundo);
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    font: var(--fonte-principal);
    color: #333;
    animation: slide-up 1s ease-out;
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
        }
}